//---------- Color ----------------
$color-background: rgb(22, 33, 62);
$color-darkBlue: rgb(15, 52, 96);
$color-purple: rgb(83, 52, 131);
$color-darkRed: rgb(233, 69, 96);
$color-green: rgb(3, 201, 136);
$color-orange: rgb(236, 179, 101);
