@import './variables';

.App {

  min-height: 100vh;
  padding-top: 60px;
  
	font-family: 'Montserrat', sans-serif;
  
	background-color: $color-background;

	.canvas {
    height: 320px;
  }
  .canvas canvas {
    width: 160px;
  }
}
