@import './variables';

.data-field {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5px;
    .data-field__item {
        display: block;
        font-size: 1rem;
        color: $color-orange;
        border: 1px solid $color-orange;
        border-radius: 2px;
        padding: 0.5em;
    }
}