@import './variables';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 40px;
    background-color: $color-darkBlue;
    z-index: 100;
    transition: all .3s ease-in;
    display: flex;
    justify-content: center;
    &.down {
        transform: translateY(-60px);
    }
}



