* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: inherit;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

body {
	margin-top: 0;
}