.spin-container {
    position: relative;
    height: 200px;
}

.circle-loading2 {
    position: absolute;
    top: 43%;
    left: 43%;
    display: inline-flex;
    animation: loading2 1s infinite;
  }
  
  .circle-loading2 div {
    width: 30px;
    height: 30px;
    border: 2px solid #fcb564;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  @keyframes loading2 {
    50% {
      transform: rotate(200deg);
    }
  
    75% {
      transform: rotate(160deg);
    }
  
    100% {
      transform: rotate(180deg);
    }
  }